.course-list-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.course-list-container h2 {
  font-size: medium;
  font-weight: 700;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid blue;
}

.course-item {
  width: 20%;
  background-color: slateblue;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

.course-item img {
  height: 10rem;
  width: 100%;
}

.course-item input {
  padding: 0.5rem;
}
